/* Reset default ALM styles */
.alm-layouts .alm-listing .alm-listing{
   margin: 0;
   padding: 0;
}
.alm-layouts .alm-listing .alm-layout{
	width: 100%;
	display: block;
	clear: both;
	padding: 0;
	margin: 0 0 4%;
	overflow: visible;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
.alm-layouts .alm-listing .alm-layout *{
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
.alm-layouts .alm-listing .alm-layout a,
.alm-layouts .alm-listing .alm-layout img{
   -webkit-box-shadow: none;
   box-shadow: none;
   border: none;
}
.alm-layouts .alm-listing .alm-layout img {
	position:static;
	max-width:100%;
	height: auto;
	clear:both;
	margin: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	display: block;
}
.alm-layouts .alm-listing .alm-layout h3 {
	font-size: 22px;
	line-height: 1.15;
	margin: 0 0 0.45em;
	padding: 0;
}
.alm-layouts .alm-listing .alm-layout p.entry-meta{
	font-size: 15px;
   opacity: 0.7;
   margin: 0 0 0.5em;
}
.alm-layouts .alm-listing .alm-layout p {
	font-size: 15px;
	line-height: 1.5;
	margin: 0 0 1em;
} 


/* Columns */
.alm-layouts .alm-listing .alm-layout.alm-2-col,
.alm-layouts .alm-listing .alm-layout.alm-3-col{
	width: 48%;
	display: inline-block;
	vertical-align: top;
	clear: none;   
}
/* 2 Column */
.alm-layouts .alm-listing .alm-layout.alm-2-col{}
	.alm-layouts .alm-listing .alm-2-col.odd{
		margin-right: 4%;	
	}
.alm-layouts .alm-listing .alm-layout.alm-2-col.alm-gallery{
   width: 50%;
   margin: 0; 
}	
.alm-layouts .alm-listing .alm-layout.alm-3-col{
	width: 30.6333%;
	margin-right: 4%;	
}
	.alm-layouts .alm-listing .alm-3-col.last{
		margin-right: 0;	
	}
.alm-layouts .alm-listing .alm-layout.alm-3-col.alm-gallery{
   width: 33.333%;
   margin: 0;  
}



/* Default */
.alm-layouts .alm-listing .alm-default {
	background: none;
	list-style: none;
	padding: 0 0 0 170px;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
	min-height: 150px;
}
   .alm-layouts .alm-listing .alm-default img {
   	max-width:100%;
   	clear:both;
   	position:absolute;
   	left: 0;
   	top: 2px;
   	margin: 0;
   	-webkit-border-radius: 3px;
   	border-radius: 3px;
   }   
   .alm-layouts .alm-listing .alm-default p{
	   text-align: left;
   }
   .alm-layouts .alm-listing .alm-default.alm-2-col {
      padding-left: 106px; 
      min-height: 100px; 
   }   
   .alm-layouts .alm-listing .alm-default.alm-2-col img {
      max-width: 85px;
   }  
   .alm-layouts .alm-listing .alm-default.alm-3-col {
      padding-left: 80px; 
      min-height: 100px; 
   }   
   .alm-layouts .alm-listing .alm-default.alm-3-col img {
      max-width: 65px;
   }
	
	
	
/* Call to Action */
.alm-layouts .alm-listing .alm-cta {
	background: none;
	list-style: none;
	padding:0;
	margin-bottom: 4%;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
   .alm-layouts .alm-listing .alm-cta img {
   	width:100%;
   	clear:both;
   	position:static;
   	margin: 0;
   	-webkit-border-radius: 0;
   	border-radius: 0;
		-webkit-transition: all 0.2s ease;
		transition: all 0.2s ease;
   }
   .alm-layouts .alm-listing .alm-cta a{
      display: block;
      color: inherit;
      text-decoration: none;  
   }   
   .alm-layouts .alm-listing .alm-cta a:hover img{
      opacity: 0.7;
   }
   .alm-layouts .alm-listing .alm-cta h3{
      color: #333;
      text-decoration: none;
   }
   .alm-layouts .alm-listing .alm-cta p{
      text-align: left;
   }
   .alm-layouts .alm-listing .alm-cta .details{
	   padding: 20px 15px;
	   display: block;
		border-top: none;
		position: relative;
   }
   
   

/* Card Flip */
.alm-layouts .alm-listing .alm-card{
	position: relative;
}
   .alm-layouts .alm-listing .alm-card a.card-container {
      -webkit-perspective: 1000px;
      perspective: 1000px;
      border: 1px solid #efefef !important;
      background: #f7f7f7;
		display: block;	
		position: relative;
   }
	.alm-layouts .alm-listing .alm-card a.card-container:hover .card-flip, 
	.alm-layouts .alm-listing .alm-card a.card-container.hover .card-flip {
		-webkit-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}
	
	/* IE ONLY */
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		.alm-layouts .alm-listing .alm-card a.card-container:hover .card-flip, 
		.alm-layouts .alm-listing .alm-card a.card-container.hover .card-flip {
			transform: rotateY(0deg);
		}
	}
	/* END IE ONLY */
		
   .alm-layouts .alm-listing .alm-card .card-flip {
   	-webkit-transform-style: preserve-3d;
   	-ms-transform-style: preserve-3d;
   	-webkit-transition: 0.6s;
   	transition: 0.6s;
   	transform-style: preserve-3d;
   	position: relative;
   }
   .alm-layouts .alm-listing .alm-card .img-mask{
      opacity: 0;
      filter: alpha(opacity=0);
      visibility: hidden;  
   }
   .alm-layouts .alm-listing .alm-card .card-front, 
   .alm-layouts .alm-listing .alm-card .card-back {         
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;   
      
      -webkit-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      backface-visibility: hidden;
      
      -webkit-transition: 0.6s;
      -webkit-transform-style: preserve-3d;
      -webkit-transform: rotateY(0deg);
      
      -o-transition: 0.6s;
      -o-transform-style: preserve-3d;
      -o-transform: rotateY(0deg);
      
      -ms-transition: 0.6s;
      -ms-transform-style: preserve-3d;
      -ms-transform: rotateY(0deg);
      
      transition: 0.6s;
      transform-style: preserve-3d;
      transform: rotateY(0deg);
   }
   .alm-layouts .alm-listing .alm-card .card-front {
   	z-index: 2;
   	-webkit-transform: rotateY(0deg);
		-o-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
   	transform: rotateY(0deg);
   }
   .alm-layouts .alm-listing .alm-card .card-back {		
		-webkit-transform: rotateY(-180deg);
		-o-transform: rotateY(-180deg);
		-ms-transform: rotateY(-180deg);
	   transform: rotateY(-180deg);
   }	
   .alm-layouts .alm-listing .alm-card h3{
      position: absolute;
      bottom: 0;
      margin: 0;  
      color: #fff;
      font-size: 16px;
      line-height: 20px;
      padding: 14px 20px;
      background-color: rgba(0, 0, 0, 0.6);
      max-width: 90%;
   }
   .alm-layouts .alm-listing .alm-card h3 span{
      display: block;
      opacity: 0.65;
      font-weight: 400;
      font-size: 13px;
      color: #fff;
      padding: 4px 0 0;
   }
   .alm-layouts .alm-listing .alm-card img{
      height: auto;
   }
   .alm-layouts .alm-listing .alm-card .text-wrap{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 100%;
      display: block;
      padding: 0 7%;
      background-color: #222;
      -webkit-box-shadow: inset 0 0 0 10px #333, inset 0 0 0 11px rgba(255, 255, 255, 0.1);
      box-shadow: inset 0 0 0 10px #333, inset 0 0 0 11px rgba(255, 255, 255, 0.1);
      text-align: center;
   }
	.alm-layouts .alm-listing .alm-card p{
   	color: #ccc;
   	padding: 0 20px;
   	margin: 0 0 10px;
   	font-size: 14px;
   	position: absolute;
   	top: 50%;
   	-webkit-transform: translateY(-50%);
   	transform: translateY(-50%);
   	text-align: left;
   	max-height: 80%;
   	overflow-y: auto;
   	width: 86%;
	}
	.alm-layouts .alm-listing .alm-card span.more{
      font-weight: 700;
      color: #fff;	
   	padding: 8px 0 0;
   	margin: 0;
   	display: block;
   	font-size: 12px;
   	text-transform: uppercase;
   }
	
	
	
/* Gallery */
.alm-layouts .alm-listing .alm-gallery{
   padding: 1px;
}
	.alm-layouts .alm-listing .alm-gallery a{
		display: block;
		overflow: hidden;	
      position: relative;
	}
	.alm-layouts .alm-listing .alm-gallery a:hover img{
      -webkit-transform: scale(1.20);	
      transform: scale(1.20);	
   }
	.alm-layouts .alm-listing .alm-gallery a:hover .alm-gallery-img-wrap{
		-webkit-filter: blur(5px);
		filter: blur(5px);
	}
	.alm-layouts .alm-listing .alm-gallery a:hover .overlay-details{
		opacity: 1;
	}
	.alm-layouts .alm-listing .alm-gallery .overlay-details{
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		-webkit-transition: opacity 0.35s ease 0.1s;
		transition: opacity 0.35s ease 0.1s;
		background: rgba(0, 0, 0, 0.4);
		padding: 0 10%;
		text-align: center;
		text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
	}
	.alm-layouts .alm-listing .alm-gallery .overlay-details .vertical-align{
   	position: relative;
   	top: 50%;
   	-webkit-transform: translateY(-50%);
   	transform: translateY(-50%);
	}
	.alm-layouts .alm-listing .alm-gallery img{
      position: static;	
      width: 100%;
      height: auto;
      -webkit-transform: scale(1.05);	
      transform: scale(1.05);	
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
	}
	.alm-layouts .alm-listing .alm-gallery .alm-gallery-img-wrap,
	.alm-layouts .alm-listing .alm-gallery img{
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;   	
	}	
	.alm-layouts .alm-listing .alm-gallery h3{
   	color: #fff;
   	margin: 0 0 15px;
	}
	.alm-layouts .alm-listing .alm-gallery p{
   	color: #fff;
   	margin: 0;
   	opacity: 0.85;
	}
	.alm-layouts .alm-listing .alm-gallery p.entry-date{
   	margin: 0 0 5px;
   	opacity: 0.5;
   	font-weight: 300;
   	font-size: 12px;
   	text-transform: uppercase;
	}
	

/* Flexbox */
.alm-layouts .alm-listing.flex,
.alm-layouts .alm-listing.flex .alm-reveal{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;  
	flex-wrap: wrap;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
}


/* Blog Card */
.alm-layouts .alm-listing .alm-blog-card  {
	background: #efefef;
	border: 1px solid #e7e7e7;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 25px 25px 110px;
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 30px;
}
	.alm-layouts .alm-listing .alm-blog-card img.wp-post-image {
		border: 3px solid #fff;
		-webkit-border-radius: 100%;
		border-radius: 100%;
		box-shadow: 0 0 3px #ccc;
		width: 120px;
		height: 120px;
		margin: -60px auto 25px;
	}
	.alm-layouts .alm-listing .alm-blog-card h3,
	.alm-layouts .alm-listing .alm-blog-card p{
		margin: 0 0 15px;
		padding: 0 5%;
	}
	.alm-layouts .alm-listing .alm-blog-card p.alm-meta{
		opacity: 0.75;
		margin-bottom: 0;	
	}
	.alm-layouts .alm-listing .alm-blog-card p.alm-meta,	
	.alm-layouts .alm-listing .alm-post-author{
		font-size: 13px;
	}
	.alm-layouts .alm-post-author{
		display: block;
		width: 100%;
		height: 60px;
		overflow: visible;
		position: absolute;
		left: 0;
		bottom: 0;
		background: #fff;
		border-top: 1px solid #e7e7e7;	
		padding: 0 10px;
		-webkit-border-radius: 0 0 2px 2px;
		border-radius: 0 0 2px 2px;
	}
		.alm-layouts .alm-listing .alm-post-author span{
			display: block;
			vertical-align: top;
			padding: 15px;
			line-height: 30px;			
         width: 100%;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
		}		
		.alm-layouts .alm-listing .alm-post-author img{
			max-width: 36px;
			max-height: 36px;
			-webkit-border-radius: 100%;
			border-radius: 100%;
			box-shadow: 0 0 0 1px #e1e1e1;
			position: absolute;
			left: 50%;
			top: -18px;
			margin-left: -18px;
			z-index: 2;
		}
		.alm-layouts .alm-listing .alm-post-author a:hover{
			text-decoration: underline;
		}
		
		
/* Blog Card #2*/
.alm-layouts .alm-listing .alm-blog-card-2  {
	background: #fff;
	border: 1px solid #e7e7e7;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 0 0 60px;
	width: 100%;
	text-align: left;
	margin-bottom: 50px;
}
	.alm-layouts .alm-blog-card-2 img.wp-post-image {
		width: 100%;
		margin: 0;
		display: block;
		-webkit-border-radius: 1px 1px 0 0;
		border-radius: 1px 1px 0 0;
	}		
	.alm-layouts .alm-blog-card-2 .alm-card-details{
   	display: block;
   	padding: 40px 30px 30px;
   	position: relative;
	}	
   	.alm-layouts .alm-listing .alm-blog-card-2 .avatar{
      	width: 50px;
      	height: 50px;
      	-webkit-border-radius: 100%;
      	border-radius: 100%;
      	position: absolute;
      	top: -25px;
      	left: 30px;
      	z-index: 1;
   	}	
   	.alm-layouts .alm-listing .alm-blog-card-2 h3{
      	font-weight: 600;
      	font-size: 20px;
      	margin: 0 0 20px;
      	padding: 0;   	
   	}
   	.alm-layouts .alm-listing .alm-blog-card-2 p{
      	margin: 0 0 20px;
      	font-size: 15px;
      }
      .alm-layouts .alm-blog-card-2 p.alm-more-link{
         margin: 0;
         font-weight: 600;
      	font-size: 13px;
      	text-transform: uppercase;
      }
   .alm-layouts .alm-blog-card-2 .alm-post-author{
      background-color: #f7f7f7;
      box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.05);
   }


@media screen and (max-width: 1024px) { 
   
	/* Overlay */
	.alm-layouts .alm-listing .alm-overlay .overlay-details {
	   padding: 15px;
	}
	.alm-layouts .alm-listing .alm-overlay .overlay-details h3{
	   font-size: 18px;  
	}
	.alm-layouts .alm-listing .alm-overlay .overlay-details p{
	   font-size: 14px;
	}	
	
	/* Gallery */
	.alm-layouts .alm-listing .alm-layout.alm-3-col.alm-gallery{
	   width: 50%;  
	}
   
}



/* Mobile */
@media screen and (max-width: 768px) {
   
   /* Flexbox */
   .alm-layouts .alm-listing.flex,
   .alm-layouts .alm-listing.flex .alm-reveal{
      display: block;  
   }
	
	.alm-layouts .alm-listing .alm-layout.alm-2-col,
	.alm-layouts .alm-listing .alm-layout.alm-3-col{
		width: 100%;
		display: block;	
		margin-left: 0;	
		margin-right: 0;
	}
	.alm-layouts .alm-listing .alm-layout.alm-3-col.last
	.alm-layouts .alm-listing .alm-layout.alm-2-col.odd{
		margin-right: 0;	
	}	
	.alm-layouts .alm-listing .alm-layout{
		margin: 0 0 6%;
	}		
	
	/* Default */
	.alm-layouts .alm-listing .alm-default,
	.alm-layouts .alm-listing .alm-default.alm-2-col,
	.alm-layouts .alm-listing .alm-default.alm-3-col {
		min-height: 120px;
		padding: 0 0 0 140px;
	}
	.alm-layouts .alm-listing .alm-default img,
	.alm-layouts .alm-listing .alm-default.alm-2-col img,
	.alm-layouts .alm-listing .alm-default.alm-3-col img {
		max-width: 120px;
		width: 120px;
		height: auto;
	}
	
	/* Overlay */
	.alm-layouts .alm-listing .alm-overlay .overlay-details{
		padding: 12px;	
	}
	.alm-layouts .alm-listing .alm-layout .alm-overlay h3{
		margin: 0;
		font-size: 18px;
		line-height: 1;
	}
	.alm-layouts .alm-listing .alm-layout .alm-overlay p{
		display: none;
	}	
	
	/* Gallery */
	.alm-layouts .alm-listing .alm-layout.alm-gallery,
	.alm-layouts .alm-listing .alm-layout.alm-2-col.alm-gallery,
	.alm-layouts .alm-listing .alm-layout.alm-3-col.alm-gallery{
      float: none;
      width: 100%;	
   }
   .alm-layouts .alm-listing .alm-gallery .overlay-details{
      padding: 0 15%;  
   }
   alm-layouts .alm-gallery h3{
   	color: #fff;
   	font-size: 26px;
	}
	.alm-layouts .alm-listing .alm-gallery p{
      font-size: 16px;	
   }
   
   /* Card Flip */
	.alm-layouts .alm-listing .alm-card img{
   	width: auto;
   	height: auto;
	}
	
	/* Blog Card */
	.alm-layouts .alm-listing .alm-blog-card{
		margin-bottom: 60px;
	}
	.alm-layouts .alm-listing .alm-blog-card img.wp-post-image {
		border: 2px solid #fff;
		width: 100px;
		height: 100px;
		margin: -50px auto 20px;
	}
	
}


/* Medium Mobile */
@media screen and (max-width: 560px) {
   
   
}


/* Small Mobile */
@media screen and (max-width: 480px) {
	
	/* Default */
	.alm-layouts .alm-listing .alm-default,
	.alm-layouts .alm-listing .alm-default.alm-2-col,
	.alm-layouts .alm-listing .alm-default.alm-3-col {
		min-height: 80px;
		padding: 0 0 0 96px;
	}
	.alm-layouts .alm-listing .alm-default img,
	.alm-layouts .alm-listing .alm-default.alm-2-col img,
	.alm-layouts .alm-listing .alm-default.alm-3-col img {
		max-width: 80px;
		width: 80px;
		height: auto;
	}	
	
	/* Gallery */	
   .alm-layouts .alm-listing .alm-gallery .overlay-details{
      padding: 0 10%;  
   }
	.alm-layouts .alm-listing .alm-gallery h3{
   	color: #fff;
   	font-size: 22px;
	}
	.alm-layouts .alm-listing .alm-gallery p{
   	font-size: 14px;
	}
	.alm-layouts .alm-listing .alm-gallery p:not(.entry-date){
      display: none;	
   }
   
   
	
}