$link: #666;
$link_active: #222;
$speed: 0.15s;
$font_size: 15px;
$height: 42px;

$color_default_bkg: #fff;
$color_default_border: #ccc;
$color_default_active: #898989;
$color_default_focus: #565656;

$color_blue: #1b91ca;
$color_blue_hover: #1b84b7;

$color_red: #ed7070;
$color_red_hover: #e06161;

$color_yellow: #f5e341;
$color_yellow_hover: #e1cf2d;

$color_green: #80ca7a;
$color_green_hover: #81c17b;
