@import "variables";

// Selected filters
#alm-selected-filters {
	padding: 0 0 15px;
	margin: 0;
	li {
		display: inline-block;
		margin: 0 5px 5px 0;
		padding: 0;
		list-style: none;
		background: none;
		div {
			display: block;
			padding: 5px 10px;
			border-radius: 2px;
			background: #efefef;
			border: 1px solid #e7e7e7;
			color: $link;
			font-size: 13px;
			text-decoration: none;
			line-height: 1.1;
			transition: all $speed ease;
			cursor: pointer;
			outline: none;
			&:before {
				content: "\00d7";
				display: inline-block;
				vertical-align: top;
				margin: 0 4px 0 0;
				opacity: 0.3;
				color: $link_active;
				position: relative;
				left: -2px;
				transition: all $speed ease;
				text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
			}
			&:hover,
			&:focus {
				background-color: #efefef;
				border-color: #ccc;
				color: $link_active;
				box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.075);
				&:before {
					opacity: 1;
				}
			}
		}
	}
}

// Blue
.alm-filters.filters-blue {
	.alm-filter li div.alm-filter--link.active.field-checkbox:before,
	.alm-filter li div.alm-filter--link.active.field-radio:before {
		background-color: $color_blue;
		border-color: $color_blue;
	}
	button[type="button"] {
		background-color: $color_blue;
		&:hover,
		&:focus {
			background-color: $color_blue_hover;
		}
		&.alm-range-reset {
			color: $color_blue;
			&:hover,
			&:focus {
				color: $color_blue_hover;
			}
		}
	}
	.noUi-connect {
		background-color: $color_blue;
	}
}
// Red
.alm-filters.filters-red {
	.alm-filter li div.alm-filter--link.active.field-checkbox:before,
	.alm-filter li div.alm-filter--link.active.field-radio:before {
		background-color: $color_red;
		border-color: $color_red;
	}
	button[type="button"] {
		background-color: $color_red;
		&:hover,
		&:focus {
			background-color: $color_red_hover;
		}
		&.alm-range-reset {
			color: $color_red;
			&:hover,
			&:focus {
				color: $color_red_hover;
			}
		}
	}
	.noUi-connect {
		background-color: $color_red;
	}
}
// Green
.alm-filters.filters-green {
	.alm-filter li div.alm-filter--link.active.field-checkbox:before,
	.alm-filter li div.alm-filter--link.active.field-radio:before {
		background-color: $color_green;
		border-color: $color_green;
	}
	button[type="button"] {
		background-color: $color_green;
		&:hover,
		&:focus {
			background-color: $color_green_hover;
		}
		&.alm-range-reset {
			color: $color_green;
			&:hover,
			&:focus {
				color: $color_green_hover;
			}
		}
	}
	.noUi-connect {
		background-color: $color_green;
	}
}

// Range Slider
.alm-range-slider {
	&--wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 8px 0 0;
	}
	&--label,
	&--reset {
		font-size: 14px;
		padding: 5px 0;
		line-height: 1;
	}
	&--reset {
		display: inline-block;
		align-self: flex-end;
	}
	.noUi-connect {
		background-color: $color_default_active;
	}
	.noUi-handle {
		cursor: pointer;
	}
	.noUi-vertical {
		height: 200px;
	}
	.noUi-marker-horizontal.noUi-marker {
		height: 2px;
		width: 1px;
	}
	.noUi-marker-horizontal.noUi-marker-large {
		height: 5px;
	}
	.noUi-pips {
		color: $link;
		font-size: 13px;
	}
}

// Start filters
.alm-reveal.alm-filters:after {
	content: "";
	display: table;
	clear: both;
}
.alm-filters-container {
	margin: 0;
	padding: 0;
	position: relative;
	transition: opacity 0.25s ease;
	margin-bottom: 20px;
	*,
	*:before,
	*:after {
		box-sizing: border-box;
	}

	.alm-filter {
		display: block;
		padding: 0;
		&.hidden {
			display: none;
		}
		&--inner {
			padding: 0 0 25px 0;
		}
		&--submit {
			display: block;
			padding: 0;
			margin: 0 0 15px;
		}
		// Form Label
		label {
			font-weight: 600;
			font-size: $font_size;
			margin: 0 0 15px;
			padding: 0;
			cursor: pointer;
		}
		&[data-fieldtype="text"],
		&[data-fieldtype="range_slider"] {
			label {
				display: block;
			}
		}
		ul {
			padding: 0;
			margin: 0;

			ul {
				padding-top: 6px;
			}

			&.alm-filter--align-items {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				width: 100%;
				li {
					margin-bottom: 0;
				}
			}
		}
		// Radio and Checkbox
		li {
			padding: 0;
			margin: 0 0 7px;
			list-style: none;
			content: "";
			line-height: 1;
			display: block;
			clear: both;
			position: relative;
			&.has_parent {
				padding-left: 10px;
			}
			&:last-of-type {
				margin: 0;
			}
			div.alm-filter--link {
				display: block;
				padding: 0 10px 0 28px;
				min-height: 24px;
				line-height: 1.45;
				font-size: $font_size;
				position: relative;
				text-decoration: none;
				color: $link;
				cursor: pointer;
				&:before {
					position: absolute;
					left: 0;
					top: 0;
					width: 20px;
					height: 20px;
					background: $color_default_bkg;
					border: 1px solid $color_default_border;
					display: block;
					content: "";
					transition: all $speed ease;
					box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
				}
				&:after {
					position: absolute;
					display: block;
					content: "";
					z-index: 1;
					opacity: 0;
					visibility: hidden;
				}
				&:hover,
				&:focus {
					color: $link_active;
					outline: none;
					&:before {
						border-color: $color_default_active;
						box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.075);
					}
				}
				&.field-starrating {
					padding: 0;
					min-height: 0;
					line-height: 1;
					padding: 3px 0px;
					border: 1px solid transparent;
					border-radius: 2px;
					> div {
						position: relative;
						display: block;
					}
					&.active,
					&.highlight {
						.alm-star {
							border-bottom-color: $color_yellow;
							&:before,
							&:after {
								border-bottom-color: $color_yellow;
							}
						}
					}
					&:hover,
					&:focus {
						.alm-star {
							border-bottom-color: $color_default_active;
							&:before,
							&:after {
								border-bottom-color: $color_default_active;
							}
						}
					}
					&:focus {
						.alm-star {
							border-bottom-color: $color_yellow;
							&:before,
							&:after {
								border-bottom-color: $color_yellow;
							}
						}
						border-color: #efefef;
					}
					&.hover {
						.alm-star {
							border-bottom-color: $color_yellow;
							&:before,
							&:after {
								border-bottom-color: $color_yellow;
							}
						}
					}
					&.none {
						.alm-star {
							border-bottom-color: $color_default_border;
							&:before,
							&:after {
								border-bottom-color: $color_default_border;
							}
						}
					}
				}
				&.field-checkbox {
					&:before {
						border-radius: 2px;
					}
					&:after {
						left: 7px;
						top: 3px;
						width: 6px;
						height: 11px;
						border: solid white;
						border-width: 0 3px 3px 0;
						-ms-transform: rotate(45deg);
						transform: rotate(45deg);
					}
				}
				&.field-radio {
					&:before,
					&:after {
						border-radius: 100%;
					}
					&:after {
						width: 8px;
						height: 8px;
						left: 6px;
						top: 6px;
						background-color: #fff;
					}
					&.field-starrating {
						&:before,
						&:after {
							display: none;
						}
					}
				}
				&.active {
					color: $link_active;
					&.field-checkbox,
					&.field-radio {
						&:before {
							border-color: $color_default_active;
							background-color: $color_default_active;
						}
						&:after {
							visibility: visible;
							opacity: 1;
						}
					}
				}
				.offscreen {
					position: absolute !important;
					height: 1px;
					width: 1px;
					overflow: hidden;
					clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
					clip: rect(1px, 1px, 1px, 1px);
					white-space: nowrap; /* added line */
				}
			}
		}

		// Select
		&--select {
			select {
				margin: 0;
				max-width: 100%;
				position: relative;
				background-color: $color_default_bkg;
				cursor: pointer;
				font-size: $font_size;
				color: #333;
			}
			select[multiple] {
				padding: 5px;
			}
		}

		// Textfield
		&--text {
			&-wrap {
				position: relative;
				input[type="text"],
				input[type="number"] {
					background: $color_default_bkg;
					border: 1px solid $color_default_border;
					color: #666;
					padding: 0 10px;
					border-radius: 3px;
					max-width: 100%;
					width: 100%;
					height: $height;
					line-height: $height;
					outline: none;
					transition: border-color $speed ease;
					font-size: $font_size;
					color: #333;
					min-width: 100px;
					&:focus,
					&:active {
						border-color: $color_default_active;
						background: #fff;
					}
				}
				button[type="button"] {
					border-radius: 0 3px 3px 0;
					width: auto;
					height: auto;
					line-height: 1;
				}
				&.has-button {
					display: flex;
					justify-content: center;
					input[type="text"] {
						border-radius: 2px 0 0 2px;
						flex: 1;
					}
					button {
						box-shadow: -3px 0 5px rgba(0, 0, 0, 0.1);
					}
				}
			}
			::-webkit-input-placeholder {
				color: $color_default_border;
				font-size: $font_size;
			}
			::-moz-placeholder {
				color: $color_default_border;
				font-size: $font_size;
			}
			:-ms-input-placeholder {
				color: $color_default_border;
				font-size: $font_size;
			}
			:-moz-placeholder {
				color: $color_default_border;
				font-size: $font_size;
			}
		}

		&--preselected {
			li.alm-filter--radio a.active {
				cursor: default;
			}
		}

		// Filter Title
		&--title {
			h3 {
				font-size: 18px;
				font-weight: 600;
				margin: 0 0 20px;
				padding: 0;
				line-height: 1.15;
			}
			.alm-filter--toggle {
				position: relative;
				padding: 10px 20px 10px 0;
				margin: 0 0 10px;
				cursor: pointer;
				user-select: none;
				&:after {
					top: calc(50% - 3px);
					transform: translateY(-50%);
					right: 10px;
					border: solid transparent;
					content: "";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border-color: rgba(136, 183, 213, 0);
					border-bottom-color: $color_default_active;
					border-width: 6px;
					margin-left: -6px;
				}
				&:hover {
					&:after {
						border-bottom-color: $color_default_focus;
					}
				}
				&[aria-expanded="false"] {
					&:after {
						border: solid transparent;
						border-top-color: $color_default_active;
						border-width: 6px;
						top: calc(50% + 3px);
					}
					&:hover {
						&:after {
							border-top-color: $color_default_focus;
						}
					}
				}
			}
			+ .alm-filter--description {
				margin-top: -10px;
			}
		}

		// Filter Description
		&--description {
			p {
				font-size: 15px;
				margin: 0 0 15px;
			}
		}
	}

	.alm-star {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 0;
		height: 0;
		margin-left: 0.9em;
		margin-right: 0.9em;
		margin-bottom: 1.2em;
		border-right: 0.3em solid transparent;
		border-left: 0.3em solid transparent;
		border-bottom: 0.7em solid $color_default_border;
		transition: all $speed ease;
		/* Controlls the size of the stars. */
		font-size: 11px;
		&:before,
		&:after {
			transition: all $speed ease;
			content: "";
			display: block;
			width: 0;
			height: 0;
			position: absolute;
			top: 0.6em;
			left: -1em;
			border-right: 1em solid transparent;
			border-left: 1em solid transparent;
			transform: rotate(-35deg);
			border-bottom: 0.7em solid $color_default_border;
		}

		&:after {
			transform: rotate(35deg);
		}

		&--feedback {
			font-size: 14px;
			padding: 4px 6px 2px;
			font-style: italic;
			font-weight: 600;
		}
	}

	// Button style
	button[type="button"] {
		padding: 0 15px;
		border-radius: 3px;
		max-width: 100%;
		width: auto;
		height: $height;
		line-height: $height;
		font-size: $font_size;
		color: #fff;
		background-color: $color_default_active;
		border: none;
		text-transform: none;
		font-weight: 600;
		cursor: pointer;
		&:hover,
		&:active,
		&:focus {
			color: #fff;
			background-color: $color_default_focus;
		}

		&.alm-range-reset {
			font-size: 12px;
			height: auto;
			line-height: 1;
			padding: 5px;
			font-weight: 400;
			background-color: transparent;
			color: $color_default_active;
			text-decoration: underline;
			&:hover,
			&:focus {
				color: $color_default_focus;
				background-color: transparent;
				text-decoration: none;
			}
		}
	}

	// Filtering State
	&.filtering {
		opacity: 0.6;
		.alm-filters--loading {
			display: block;
			cursor: default !important;
		}
	}

	// Loading
	.alm-filters--loading {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1000;
		display: none;
	}

	// Edit button
	.alm-filters-edit {
		position: absolute;
		z-index: 1;
		right: 0;
		top: -22px;
		opacity: 0;
		visibility: hidden;
		font-size: 13px;
		padding: 0 10px;
		display: inline-block;
		color: #333;
		background-color: #efefef;
		border-radius: 3px;
		line-height: 28px;
		height: 26px;
		text-decoration: none;
		font-size: 12px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
		transition: all 0.2s ease;
		&:hover {
			background-color: #e1e1e1;
		}
	}
	&:hover {
		.alm-filters-edit {
			visibility: visible;
			opacity: 1;
		}
	}
}
