/* * Ajax Load More - Paging Add-on * https://connekthq.com/plugins/ajax-load-more/add-ons/paging/ * * Copyright 2018 Connekt Media - https://connekthq.com * Free to use under the GPLv2 license. * http://www.gnu.org/licenses/gpl-2.0.html * * Author: Darren Cooney * Twitter: @KaptonKaos */

ul.alm-paging {
   text-align: center;
   margin: 0;
   padding: 15px 0 10px;
   list-style: none;
   opacity: 0;
   position: relative;
   z-index: 1;
}
ul.alm-paging.empty{
	display: none;
}
ul.alm-paging li {
   background: none;
   overflow: hidden;
   position: relative;
   list-style: none;
   padding: 0;
   margin: 0 1px;
   line-height: 1;
   display: inline-block;
   vertical-align: top;
   font-size: 15px;
}

ul.alm-paging li:before,
ul.alm-paging li:after {
   content: none;
}

ul.alm-paging li a {
   display: block;
   padding: 8px 10px;
   border-radius: 2px;
   color: #666;
   border: 1px solid #f1f1f1;
   background: #f7f7f7;
   text-decoration: none;
   -webkit-transition: all 0.15s ease;
   transition: all 0.15s ease;
}

ul.alm-paging li a:hover,
ul.alm-paging li a:focus {
   color: #222;
   border-color: #e1e1e1;
   background-color: #efefef;
}

ul.alm-paging li a:active {
   background-color: #e1e1e1;
}

ul.alm-paging li.disabled a {
   box-shadow: none;
   cursor: default!important;
   opacity: .3;
}


/* Default */

ul.alm-paging li.active a {
   background: #ed7070;
   border-color: #ed7070;
   color: #fff;
   cursor: default;
   text-decoration: none;
}


/* Blue */

.ajax-load-more-wrap.paging-blue ul.alm-paging li.active a {
   background-color: #6bb1d9;
   border-color: #6bb1d9;
}


/* Green */

.ajax-load-more-wrap.paging-green ul.alm-paging li.active a {
   background-color: #98ca68;
   border-color: #98ca68;
}


/* Red */

.ajax-load-more-wrap.paging-red ul.alm-paging li.active a {
   background-color: #ca4b4b;
   border-color: #ca4b4b;
}


/* Purple */

.ajax-load-more-wrap.paging-purple ul.alm-paging li.active a {
   background-color: #b369c8;
   border-color: #b369c8;
}


/* Grey */

.ajax-load-more-wrap.paging-grey ul.alm-paging li.active a {
   background-color: #666;
   border-color: #666;
}


/* White */

.ajax-load-more-wrap.paging-white ul.alm-paging li.active a {
   background-color: #fff;
   color: #333;
   border-color: #fff;
}


/* Page Loading styles */

.ajax-load-more-wrap .alm-paging-content{
   -webkit-transition: all 0.25s ease;
   transition: all 0.25s ease;   
}
   .ajax-load-more-wrap.alm-loading .alm-paging-content{
      opacity: 0.5 !important;
   }

.alm-paging-wrap .alm-paging-loading,
.ajax-load-more-wrap.alm-paging.alm-is-filtering {
   background-color: rgba(255, 255, 255, 0.1);
   background-image: url('../../img/ajax-loader.gif');
   background-repeat: no-repeat;
   background-position: center center;
}

.ajax-load-more-wrap.alm-loading
.ajax-load-more-wrap.alm-is-filtering {
   /* On init */
   min-height: 150px;
}
.ajax-load-more-wrap.alm-is-filtering{
   background-color: transparent;
}

.alm-paging-wrap .alm-reveal {
   position: relative;
}

.alm-paging-wrap .alm-paging-loading {
   display: block;
   opacity: 0;
   visibility: hidden;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 9999;
   -webkit-transition: all 0.25s ease;
   transition: all 0.25s ease;
}

.alm-loading .alm-paging-wrap .alm-paging-loading {
   visibility: visible;
   opacity: 1;
}
